.background    { background: rgb(0, 255, 204);
                 table-layout: fixed;
                 border-spacing: 0;   }
.background td { padding: 0;          }
.lava          { background: rgb(204, 51, 0); }
.wall          { background: black;   }

.actor  { position: absolute;  }
.player { background: rgb(102, 0, 255); }
.coin { background: rgb(244,182,66); }

.game {
  overflow: hidden;
  max-width: 600px;
  max-height: 450px;
  position: relative;
}
